<div class="contenedor">
    <div class="imagen">
        <img src="../../../assets/Tarjetas.png" alt="">
    </div>
    <div class="texto">
        <h2>¿YA FORMAS PARTE DE NUESTRO CLUB JETSETTERS?</h2>
        <hr>
        <p>El Jetsetters Club es un programa de lealtad único que te ofrece beneficios especiales y experiencias exclusivas.</p>
        <p>Está disponible para huéspedes Voila, Encor o Huespedia Stay. Solo debes reservar tu estadía directamente a través de nuestros sitios web para que puedas comenzar a disfrutar de los beneficios de nuestro programa de inmediato</p>
        <button (click)="redirect()">Conocer más</button>
    </div>
</div>
