<div class="primeraSeccion">
    <div class="fondo">
        <img src="../../../assets/fondo.jpg" alt="">
        <div class="degradado"></div>
        <div class="texto">
            <div class="logo"><img src="../../../assets/Logo.png"></div>
            <p class="elite">Elite Concierge</p>
            <p class="become">Become a Local VIP</p>
            <p>by Huespedia</p>
            <p>Explore each destination like a local VIP and discover the Huespedia lifestyl</p>
            <button (click)="redirect()">SPEAK TO YOUR CONCIERGE</button>
        </div>
    </div>
</div>
<app-seccion2-en></app-seccion2-en>
<app-galeria-en></app-galeria-en>
<app-jetsetter-en></app-jetsetter-en>
<app-wpp-button></app-wpp-button>
 