<div class="contenedor">
    <div class="logo">
        <img src="../../../assets/Ppal_Huespedia-01.png" alt="">
    </div>
    <div class="informacion">
        <div class="redes">
            <p>Siguenos</p>
            <div class="lgos">
                <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 29px;margin-right: 1rem;"></i>
                <i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 30px;"></i>
            </div>
            <hr>    
            <p class="huespedia" style="margin-top: 0; margin-bottom: 3rem;">Huespedia 2022</p>
        </div>
        <div class="info">
            <i class="fa-brands fa-whatsapp" style="color: #ffffff; font-size: 30px;"></i>
            <p>PBX:+57 300 912 1453</p>
            <p class="correo" style="margin-bottom: 15px;">info@huespedia.com</p>
            <hr>
            <p class="politica">Politica de protección de datos</p>
        </div>
        <div class="direcc">
            <p class="edificio">Edificio Jasban</p>
            <p>Calle 6 A No.3-17 Oficina 902</p>
            <p style="margin-bottom: 1rem;">Cartagena, Colombia</p>
            <hr>
        </div>
    </div>
    
<div class="iconos">
    <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 29px;"></i>
    <i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 30px;"></i>
    <i class="fa-brands fa-whatsapp" style="color: #ffffff; font-size: 30px;"></i>
</div>
</div>
