<div class="contenedor">
    <div class="logo">
        <img src="../../../assets/Ppal_Huespedia-01.png" alt="">
    </div>
    <div class="informacion">
        <div class="redes">
            <p>Siguenos</p>
            <div class="lgos">
                <!-- <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 29px;margin-right: 1rem;"></i> -->
                <a href="https://www.instagram.com/eliteconciergehuespedia/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 30px;"></i>
                </a>
            </div>
            <hr>    
            <p class="huespedia" style="margin-top: 0; margin-bottom: 3rem;">Huespedia 2022</p>
        </div>
        <div class="info">
            <a href="https://wa.me/573135061763" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-whatsapp" style="color: #ffffff; font-size: 30px;"></i>
            </a>
            <p>PBX:+57 313 506 1763</p>
            <p class="correo" style="margin-bottom: 15px;">{{correo}}</p>
            <hr>
            <p class="politica">Politica de protección de datos</p>
        </div>
        <div class="direcc">
            <p class="edificio">Edificio Jasban</p>
            <p>Calle 6 A No.3-17 Oficina 902</p>
            <p style="margin-bottom: 1rem;">Cartagena, Colombia</p>
            <hr>
        </div>
    </div>
    
    <div class="iconos">
        <!-- <a href="URL_DE_TU_PAGINA_DE_FACEBOOK" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 29px;"></i>
        </a> -->
    
        <a href="https://www.instagram.com/eliteconciergehuespedia/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 30px;"></i>
        </a>
    
        <a href="https://wa.me/573135061763" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-whatsapp" style="color: #ffffff; font-size: 30px;"></i>
        </a>
    </div>
</div>
