<div class="segundaSeccion">
    <div class="fondo">
        <div class="texto">
            <p class="titulo">TU PUERTA DE ENTRADA A UN MUNDO DE EXPERIENCIAS ÚNICAS</p>
            <p class="parrafo">Cuando te hospedas en una propiedad de Huespedia, obtienes más que solo una experiencia de alojamiento de clase mundial... tienes acceso de cortesía a nuestro reconocido servicio de Elite Concierge, tu puerta de entrada a un mundo de experiencias únicas en cada destino.</p>
        </div>
        <div class="imagen">
            <img src="../../../assets/Brindis.jpg" alt="">
        </div>
    </div>
</div>
