
<div class="contenedor">
    <div class="titulo">
        <h2>DISCOVER OUR MOST POPULAR SERVICES</h2>
    </div>
    <div class="gridGalery">
        <div class="servicio" style="grid-area: s1;">
            <img src="../../../assets/piscina.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Villa Rentals</h3>
                <p>Curated luxury properties</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s2;">
            <img src="../../../assets/Lancha.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Yatch Rentals</h3>
                <p>Your dream day on the water.</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s3;">
            <img src="../../../assets/islas.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Island Day Trips</h3>
                <p>A magical escape of sun & beaches</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s4;">
            <img src="../../../assets/pulpo.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Gastronomic Experiences</h3>
                <p>Savor the flavors of local cuisine</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s5;">
            <img src="../../../assets/Auto.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Premium Transportation</h3>
                <p>Nightlife Access</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s6;">
            <img src="../../../assets/Nocturna.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Nightlife Access</h3>
                <p>VIP entry to the hottest bars and clubs</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s7;">
            <img src="../../../assets/castillo.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Tours & Experiences</h3>
                <p>Personalized tours to explore history, culture, and more </p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s8;">
            <img src="../../../assets//events.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Exclusive Events & Entertainment</h3>
                <p>World-class experiences at your fingertips.</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s9;">
            <img src="../../../assets/spa.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Spa Services</h3>
                <p>Relax, unwind, and rejuvenate.</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s10;">
            <img src="../../../assets/golf.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>TPC Golf</h3>
                <p>Play in style at top-tier courses.</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s11;">
            <div class="fondo"></div>
            <div class="texto1">
                <h3>... and so much more.</h3>
                <button (click)="redirect()">SPEAK TO YOUR CONCIERGE</button>
            </div>
        </div>
    </div>
</div>
