<div class="segundaSeccion">
    <div class="fondo">
        <div class="texto">
            <p class="titulo">HUESPEDIA ELITE CONCIERGE – YOUR PASSPORT TO EFFORTLESS LUXURY</p>
            <p class="parrafo">
                Imagine a vacation where every detail is effortlessly handled, and every moment is yours to savor. With Huespedia’s Elite Concierge, your dream getaway isn't just a trip – it's a masterpiece of unforgettable experiences, seamlessly curated for you.
            </p>
            <p class="parrafo">
                Whether you crave the serenity of a secluded villa, the thrill of a private yacht adventure, or the authenticity of local cuisine delivered to your door, we’ve got it all covered. Our dedicated team transforms your vacation into a carefree escape, taking care of every detail – from tailored tours and exclusive reservations to villa stocking and private transportation.
            </p>
        </div>
        <div class="imagen">
            <img src="../../../assets/Brindis.jpg" alt="">
        </div>
    </div>
</div>

