<div class="primeraSeccion">
    <div class="fondo">
        <img src="../../../assets/fondo.jpg" alt="">
        <div class="degradado"></div>
        <div class="texto">
            <div class="logo"><img src="../../../assets/Logo.png"></div>
            <p class="elite">Elite Concierge</p>
            <p class="become">Become a Local VIP</p>
            <p>Exclusivo para Huespedes de Voila, Encor y Huespedia Stay</p>
            <p>Explora cada destino como un VIP local y descubre el estilo de vida Huespedia.</p>
            <button (click)="redirect()">Habla con tu conserje</button>
        </div>
    </div>
</div>
<app-seccion2></app-seccion2>
<app-galeria></app-galeria>
<app-jetsetter></app-jetsetter>
 