<div class="contenedor">
    <div class="imagen">
        <img src="../../../assets/Tarjetas.png" alt="">
    </div>
    <div class="texto">
        <h2>ARE YOU PART OF OUR JETSETTERS CLUB?    </h2>
        <hr><p class="parrafo">
            Jetsetters Club is a one-of-a-kind loyalty program that grants you special perks and exclusive experiences.
        </p>
        <p class="parrafo">
            Available to Voila and Huespedia Stay guests, all you need to do is book your next stay at one of our partner properties directly through Elite Concierge or on their websites (<a href="https://www.bevoila.com" target="_blank">www.bevoila.com</a> and <a href="https://www.huespediastay.com" target="_blank">www.huespediastay.com</a>) and start enjoying the benefits right away.
        </p>
        <p class="parrafo">
            Join today and elevate your travel experience!
        </p>
        <button (click)="redirect()">Learn more</button>
    </div>
</div>

