<div class="contenedor">
    <div class="titulo">
        <h2>DESCUBRE NUESTROS SERVICIOS MÁS POPULARES</h2>
    </div>
    <div class="gridGalery">
        <div class="servicio" style="grid-area: s1;">
            <img src="../../../assets/Villa.png" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Alquiler de villas</h3>
                <p>Propiedades de lujo seleccionadas</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s2;">
            <img src="../../../assets/islas.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Pasadia en islas</h3>
                <p>Una exsperiencia mágica de playa y sol</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s3;">
            <img src="../../../assets/pulpo.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Experiencias gastronómicas</h3>
                <p>Descubre la cocina local</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s4;">
            <img src="../../../assets/Auto.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Transportes especiales</h3>
                <p>traslados seguros y confiables</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s5;">
            <img src="../../../assets/Nocturna.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Vida Nocturna</h3>
                <p>Acceso vip a los mejores bares y clubes</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s6;">
            <img src="../../../assets/castillo.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Tours y experiencias</h3>
                <p>Explora la historia cultura y más</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s7;">
            <img src="../../../assets//events.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Eventos y entretenimiento</h3>
                <p>Exclusivas experiencias de clase mundial</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s8;">
            <img src="../../../assets/spa.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Servicios de Spa</h3>
                <p>Relájese, descanse y recargue energías</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s9;">
            <img src="../../../assets/golf.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>TPC Golf</h3>
                <p>Una salida con clase</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s10;">
            <img src="../../../assets/piscina.jpg" alt="">
            <div class="degradado"></div>
            <div class="texto">
                <h3>Snorkeling y Buceo</h3>
                <p>Dive rigth in</p>
            </div>
        </div>
        <div class="servicio" style="grid-area: s11;">
            <div class="fondo"></div>
            <div class="texto1">
                <h3>... y mucho más</h3>
                <p>Posibilidades sin límite</p>
                <button (click)="redirect()">Habla con tu conserge</button>
            </div>
        </div>
    </div>
</div>
